
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  padding: 20px;
}

section {
  margin: 0 auto;
  margin-top: 10%;
  width: 70%;
  height: auto;
}

.main-wrap {
  display: flex;
  gap: 6%;
}

.refresh-recent-wrap {
  display: flex;
  column-gap: 50%;
  width: 100%;
  margin-bottom: 13px;
}

.scores-list-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.scores-list {
  border: 1px black solid;
  border-radius: 8px;
  width: 450px;
}

.input {
  width: 260px;
}

li:nth-child(odd) {
  background-color: rgb(145, 144, 144);
}

h2 {
  width: 200px;
}

.submit {
  float: right;
}

li{
  display: flex;
  column-gap: 10%;
}

.username{
width: 147px;
}